@font-face {
  font-family: GT Flexa;
  src: url('https://cdn.shopify.com/s/files/1/0553/4783/9132/t/26/assets/GT-Flexa-Regular-Trial.woff2')
}

@font-face {
  font-family: GtflexaBlack;
  src: url(https://vialuxury.com/fonts/GT-Flexa-Standard-Black.otf);
}

@font-face {
  font-family: Recoleta;
  src: url(https://vialuxury.com/fonts/recoleta-regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Recoleta;
  src: url(https://vialuxury.com/fonts/recoleta-semi-bold.woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Recoleta;
  src: url(https://vialuxury.com/fonts/recoleta-bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #1a1e1e;
  line-height: 24px;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3 {
  font-family: 'GT Flexa', serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-size: 29px;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.font-roboto {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.p-b-48 {
  padding-bottom: 48px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-t-8 {
  padding-top: 8px;
}

.hide {
  display: none;
}

.header__top {
  background-color: rgba(0, 0, 0, .8);
  height: 48px;
  width: 100%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header__usps {
  display: flex;
}

.header__usp {
  color: #A3A5A5;
  margin-left: 40px;
}


.header__review {
  position: relative;
  width: 126px;
  margin-right: 40px;
}

.header__logo {
  background-color: #1a1e1e;
  width: 100%;
  padding-left: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo .logo {
  height: 56px;
}

.main {
  padding: 24px 0 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.container__lhc {
  max-width: 768px;
  margin: 0 auto;
}

.main__image-background {
  background-image: url("https://vialuxury.com/assets/header_optimized.4b26608c.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center top;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__h1 {
  text-align: center;
  color: #FFF;
}

/* Text field styling */
.form-control {
  margin-top: 8px;
  color: #1a1e1e;
  border: 1px solid #bec0c0;
  padding: 0.5rem 0.75rem;
  border-radius: 0;
  height: auto;
  font-weight: 400;
  height: 48px;
  caret-color: #35c890;
}

.form-control:focus {
  border-color: #bec0c0;
  border-bottom: 2px solid #1a1e1e;
  box-shadow: none;
  outline: none;
}

.extra-text {
  padding-top: 4px;
  font-size: 14px;
  color: #707070;
  display: none;
  width: 100%;
}

.form-control:focus + .extra-text  {
  display: block;
}

@media (max-width: 579px) {
  .form-control {
    margin-bottom: 
  }
}

/* Checkbox styling */
/* Checkbox styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
 }
 
 [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.2em;
  cursor: pointer;
  font-size: 14px;
 }
 
 [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #515454;
  top:4px;
  left: 2px;
 }

 [type="checkbox"]:checked + label:before {
   background-color: #1a1e1e!important;
   border: 1px solid #1a1e1e;
 }
 
 [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: '';
  width: 16px;
  height: 16px;
  color: #FFF;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij48cGF0aCBkPSJNIDE5Ljk4MDQ2OSA1Ljk5MDIzNDQgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE5LjI5Mjk2OSA2LjI5Mjk2ODggTCA5IDE2LjU4NTkzOCBMIDUuNzA3MDMxMiAxMy4yOTI5NjkgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDQuMjkyOTY4OCAxNC43MDcwMzEgTCA4LjI5Mjk2ODggMTguNzA3MDMxIEEgMS4wMDAxIDEuMDAwMSAwIDAgMCA5LjcwNzAzMTIgMTguNzA3MDMxIEwgMjAuNzA3MDMxIDcuNzA3MDMxMiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMTkuOTgwNDY5IDUuOTkwMjM0NCB6Ij48L3BhdGg+PC9zdmc+');
  background-size: 14px;
  position: absolute;
  top: 4px;
  left: 3px;
 }
 
 [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
 }
 
 [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
 }

/* Radio button styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  padding-top: 2px;
  font-size: 14px;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #515454;
  border-radius: 50px;
  top: 2px;
  left: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after,
[type="radio"]:checked+label:after {
  content: '';
  width: 24px;
  height: 24px;
  color: #FFF;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij48cGF0aCBkPSJNIDE5Ljk4MDQ2OSA1Ljk5MDIzNDQgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE5LjI5Mjk2OSA2LjI5Mjk2ODggTCA5IDE2LjU4NTkzOCBMIDUuNzA3MDMxMiAxMy4yOTI5NjkgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDQuMjkyOTY4OCAxNC43MDcwMzEgTCA4LjI5Mjk2ODggMTguNzA3MDMxIEEgMS4wMDAxIDEuMDAwMSAwIDAgMCA5LjcwNzAzMTIgMTguNzA3MDMxIEwgMjAuNzA3MDMxIDcuNzA3MDMxMiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMTkuOTgwNDY5IDUuOTkwMjM0NCB6Ij48L3BhdGg+PC9zdmc+');
  background-size: 16px;
  background-repeat: no-repeat;
  border-radius: 50px;
  position: absolute;
  top: 6px;
  left: 6px;
}

[type="radio"]:checked+label:before {
  background: #1a1e1e;
  border: 1px solid #1a1e1e;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}


/* End radio styling */

.pause__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pause__reset {
  font-size: 12px;
  font-style: italic;
  padding-top: 8px;
  cursor: pointer;
}

.submit__button {
  color: #fff;
  background-color: #1a1e1e;
  border: none;
  padding: 18px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.submit__button:hover, .submit__button:focus {
  background-color: #333333;
}

.footer {
  background-color: #1a1e1e;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  padding: 3rem 0;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer__text {
  color: #a3a5a5;
  padding: 9px 0;
  width: 100%;
}

.footer__text a {
  color: #a3a5a5;
  text-decoration: none;
}

.footer__column {
  padding-bottom: 0.75rem;
}

.footer__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer__logo {
  width: 64px;
}

.footer__payment {
  flex-direction: row-reverse;
  flex: 1 1 auto;
  display: flex;
}

.payment__image {
  margin: 0 0.5rem;
}

.footer__bottom {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__conditions a, .copyright {
  color: #6c6f6f;
  text-decoration: none;
}

.footer__conditions a {
  margin-right: 0.75rem;
}


.fa-circle-exclamation {
  font-size: 28px;
  color: #ff8c00;
  padding-bottom: 8px;
  padding-right: 8px;
}

@media (min-width: 1024px) {
  .copyright {
    margin-right: 3rem;
  }
}

@media (min-width: 767.98px) {
  .m-b-n16 {
    margin-bottom: -16px;
  }
  .footer__list, .footer__middle, .footer__bottom {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .fa-chevron-down {
    display: none;
  }
}


@media (max-width: 991.98px) {
  h1 {
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
  }
  h2 {
    font-size: 25px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .header__usp {
    margin-left: 32px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
  }
  .footer__conditions a, .copyright {
    color: #fff;
  }
  .copyright {
    margin-top: 1rem;
  }
}

@media (max-width: 767.98px) {
  .hide-mobile {
    display: none;
  }
  .p-b-48 {
    padding-bottom: 40px;
  }
  .p-t-8-m {
    padding-top: 8px;
  }
  .header__usp, .header__review {
    margin: 0;
  }
  .header__usp {
    height: 20px;
    overflow: hidden;
  }
  .main {
    padding: 40px 0;
  }
  .hotel__topbar {
    display: none;
  }
  .main__image-background {
    height: 250px;
    background-position: center center;
  }
  .footer__column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footer__middle {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__title {
    padding-top: 0.75rem;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .footer__title:focus + .mobile-dropdown {
    display: block;
  }

  .footer__title:focus:after {
    transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  .mobile-dropdown {
    display: none;
  }
  .footer__logo {
    width: 128px;
    padding-bottom: 5rem;
  }
  .footer__list {
    width: 170px;
  }
  .footer__payment {
    justify-content: center;
  }
}