body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #000;
  line-height: 22px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3 {
  font-family: 'Lora', 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-size: 29px;
  line-height: 32px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.font-roboto {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.p-b-48 {
  padding-bottom: 48px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-t-8 {
  padding-top: 8px;
}

.hide {
  display: none;
}

.header {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.header__placeholder {
  height: 85px;
}

.hotel__topbar {
  width: 100%;
  height: 64px;
  background-color: #f0ebe7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.hotel__topbar-wrapper {
  max-width: 850px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  opacity: 56%;
}

.hotel__topbar-item {
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

.hotel__topbar-item svg {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: -7px;
}

.main {
  padding: 48px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.container__lhc {
  max-width: 768px;
  margin: 0 auto;
}

.main__image-background {
  background-image: url("https://files.luxuryhotelcompany.com/uploads/filter_set/image/46/large_Mademoiselle_Paris_-HP_met_overlay.png");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center top;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__h1 {
  text-align: center;
  color: #FFF;
}

/* Text field styling */
.form-control {
  margin-top: 8px;
  border: 1px solid #e5ded6;
  padding: 14px 16px;
  border-radius: 0;
  height: auto;
  font-weight: 500;
}

.form-control:hover {
  border-color: #a79582;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
  outline: none;
}

.form-control::placeholder, input:disabled {
  font-weight: 400;
}

.extra-text {
  padding-top: 4px;
  font-size: 14px;
  color: #707070;
  display: none;
  width: 100%;
}

.form-control:focus + .extra-text  {
  display: block;
}

@media (max-width: 579px) {
  .form-control {
    margin-bottom: 
  }
}

/* Checkbox styling */
/* Checkbox styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
 }
 
 [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.2em;
  cursor: pointer;
 }
 
 [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #1a1e1e;
  top:3px;
  left: 2px;
 }

 [type="checkbox"]:checked + label:before {
   background-color: #1a1e1e!important;
 }
 
 [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: '';
  width: 16px;
  height: 16px;
  color: #FFF;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij48cGF0aCBkPSJNIDE5Ljk4MDQ2OSA1Ljk5MDIzNDQgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE5LjI5Mjk2OSA2LjI5Mjk2ODggTCA5IDE2LjU4NTkzOCBMIDUuNzA3MDMxMiAxMy4yOTI5NjkgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDQuMjkyOTY4OCAxNC43MDcwMzEgTCA4LjI5Mjk2ODggMTguNzA3MDMxIEEgMS4wMDAxIDEuMDAwMSAwIDAgMCA5LjcwNzAzMTIgMTguNzA3MDMxIEwgMjAuNzA3MDMxIDcuNzA3MDMxMiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMTkuOTgwNDY5IDUuOTkwMjM0NCB6Ij48L3BhdGg+PC9zdmc+');
  background-size: 14px;
  position: absolute;
  top: 4px;
  left: 3px;
 }
 
 [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
 }
 
 [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
 }
 
 .checkbox-check {
  position: absolute;
  top: 5px;
  left: 8px;
  z-index: 10;
  -webkit-transform: rotate(40deg); 
  transform: rotate(40deg);
  border-bottom: 2px solid #FFF;
  border-right: 2px solid #FFF;
  height: 10px;
  width: 6px;
 }


/* Radio button styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
  position: relative;
  padding-left: 49px;
  cursor: pointer;
  margin-bottom: 4px;
  padding-top: 7px;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E5DED6;
  border-radius: 50px;
  top: 2px;
  left: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:checked+label:before {
  border: 2px solid #1a1e1e;
}

[type="radio"]:not(:checked)+label:after,
[type="radio"]:checked+label:after {
  content: '';
  width: 22px;
  height: 22px;
  color: #FFF;
  background: #1a1e1e 0% 0% no-repeat padding-box;
  border-radius: 50px;
  position: absolute;
  top: 7px;
  left: 7px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}


/* End radio styling */

.pause__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pause__reset {
  font-size: 12px;
  font-style: italic;
  padding-top: 8px;
  cursor: pointer;
}

.submit__button {
  color: #fff;
  background-color: #333;
  border: none;
  border-bottom: 2px solid #000;
  padding: 18px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.submit__button:hover, .submit__button:focus {
  background-color: #4f4f4f;
}

.footer {
  background-color: #1a1e1e;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  padding: 3rem 0;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer__text {
  color: #a3a5a5;
  padding: 9px 0;
  width: 100%;
}

.footer__text a {
  color: #a3a5a5;
  text-decoration: none;
}

.footer__column {
  padding-bottom: 0.75rem;
}

.footer__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer__logo {
  width: 64px;
}

.footer__payment {
  flex-direction: row-reverse;
  flex: 1 1 auto;
  display: flex;
}

.payment__image {
  margin: 0 0.5rem;
}

.footer__bottom {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__conditions a, .copyright {
  color: #6c6f6f;
  text-decoration: none;
}

.footer__conditions a {
  margin-right: 0.75rem;
}


.fa-circle-exclamation {
  font-size: 28px;
  color: #ff8c00;
  padding-bottom: 8px;
  padding-right: 8px;
}

@media (min-width: 1024px) {
  .copyright {
    margin-right: 3rem;
  }
}

@media (min-width: 767.98px) {
  .m-b-n16 {
    margin-bottom: -16px;
  }
  .footer__list, .footer__middle, .footer__bottom {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .fa-chevron-down {
    display: none;
  }
}


@media (max-width: 991.98px) {
  h1 {
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
  }
  h2 {
    font-size: 25px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
  }
  .footer__conditions a, .copyright {
    color: #fff;
  }
  .copyright {
    margin-top: 1rem;
  }
}

@media (max-width: 767.98px) {
  .p-b-48 {
    padding-bottom: 40px;
  }
  .p-t-8-m {
    padding-top: 8px;
  }
  .main {
    padding: 40px 0;
  }
  .hotel__topbar {
    display: none;
  }
  .main__image-background {
    height: 250px;
    background-position: center center;
  }
  .footer__column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footer__middle {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__title {
    padding-top: 0.75rem;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .footer__title:focus + .mobile-dropdown {
    display: block;
  }

  .footer__title:focus:after {
    transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  .mobile-dropdown {
    display: none;
  }
  .footer__logo {
    width: 128px;
    padding-bottom: 5rem;
  }
  .footer__payment {
    justify-content: center;
  }
}