@font-face {
  font-family: GT Flexa;
  src: url('https://cdn.shopify.com/s/files/1/0553/4783/9132/t/26/assets/GT-Flexa-Regular-Trial.woff2')
}

@font-face {
  font-family: GT Flexa Standard;
  src: url('https://cdn.shopify.com/s/files/1/0553/4783/9132/t/26/assets/GT-Flexa-Standard-Black.woff2')
}


body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #000;
  line-height: 22px;
  font-family: 'GT Flexa', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3 {
  font-family: 'GT Flexa', 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-size: 29px;
  line-height: 32px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.font-roboto {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.p-b-48 {
  padding-bottom: 48px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-t-8 {
  padding-top: 8px;
}

.hide {
  display: none;
}

.header {
  background-color: #f6f5f5;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 170px;
  display: block;
  margin: 0 auto;
}

.header__placeholder {
  height: 60px;
}

.hotel__topbar {
  width: 100%;
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}

.hotel__topbar-wrapper {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
        justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.hotel__topbar-item {
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.hotel__topbar-item-icon {
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: -4px;
}

.main {
  padding: 48px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.container__lhc {
  max-width: 768px;
  margin: 0 auto;
}

.main__image-background {
  background-image: url("https://files.luxuryhotelcompany.com/uploads/filter_set/image/46/large_Mademoiselle_Paris_-HP_met_overlay.png");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__h1 {
  text-align: center;
  color: #FFF;
}


/* Radio button styling */

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
  position: relative;
  padding-left: 49px;
  cursor: pointer;
  margin-bottom: 4px;
  padding-top: 7px;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E5DED6;
  border-radius: 50px;
  top: 2px;
  left: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:checked+label:before {
  border: 2px solid #000;
}

[type="radio"]:not(:checked)+label:after,
[type="radio"]:checked+label:after {
  content: '';
  width: 22px;
  height: 22px;
  color: #FFF;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 50px;
  position: absolute;
  top: 7px;
  left: 7px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}


/* End radio styling */

.pause__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pause__reset {
  font-size: 12px;
  font-style: italic;
  padding-top: 8px;
  cursor: pointer;
}

.submit__button {
  color: #fff;
  background: linear-gradient(180deg,#35C890 8.19%,#28A773 100%);
  min-height: 56px;
  border: none;
  border-radius: 10px;
  padding: 18px 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.submit__button:hover {
  background-color: #4f4f4f;
}

.footer {
  background-color: #1a1e1e;
  color: #ececec;
  padding: 48px 0 0 0;
  font-size: 14px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 36px;
}

.footer__menu {
  width: 100%;
}

.footer__item {
  width: 14%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 14%;
          flex: 1 0 14%;
}

.footer__item.item-first {
  width: 215px;
  display: flex;
  flex: none;
}

.footer__logo {
  max-width: 180px;
  width: 100%;
  display: block;
}

.footer__menu-wrapper {
  margin-left: 63px;
  margin-right: auto;
  padding-right: 20px;
}

.footer__rating {
  margin-top: 40px;
}

.footer__rating-count {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
}

.footer__text-small {
  font-size: 14px;
  color: #fff;
}

.footer__conditions {
  margin-left: 60px;
  margin-right: auto;
  padding-right: 20px;
}

.footer__methods {
  width: auto;
  align-items: flex-start;
}

.footer__payment {
  margin-top: 0;
  margin-bottom: 30px;
}

.list__payment {
  display: flex;
  margin: 0;
  margin-left: -3px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}

.list__payment-item {
  padding: 0;
  width: 48px;
  height: 48px;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
  align-items: center;
  display: flex;
}

.list__payment-item:first-child {
  margin-left: 0;
}

.footer__bottom {
  display: flex;
  justify-content: flex-start;
  padding: 24px 0;
  align-items: flex-start;
  font-size: 16px;
}

.footer__link {
  color: #FFF;
  line-height: 1.5;
  text-decoration: none;
  font-size: 16px;
}

.footer__link:hover {
  color: #35c890;
  text-decoration: underline;
}

.fa-circle-exclamation {
  font-size: 28px;
  color: #ff8c00;
  padding-bottom: 8px;
  padding-right: 8px;
}

@media (min-width: 992px) {
  .footer .container {
    max-width: 1000px!important;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    max-width: 1920px!important;
    padding-left: 40px;
    padding-right: 40px;
  }
}
 
@media (max-width: 1200px) {
  .footer {
    padding: 48px 0 16px;
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
  }
  h2 {
    font-size: 25px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .footer__row {
    justify-content: center;
  }
  .footer__menu-wrapper {
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .p-b-48 {
    padding-bottom: 40px;
  }
  .main {
    padding: 40px 0;
  }
  .hotel__topbar {
    display: none;
  }
  .main__image-background {
    height: 250px;
    background-position: center center;
  }
  .footer__item {
    width: 32%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
  .footer__row {
    justify-content: center;
  }
  .footer__item.item-first {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    justify-content: center;
  }
  .footer__item.item-first.auto-width {
    width: auto;
    flex: none;
    justify-content: center;
  }
  .footer__menu-wrapper {
    margin: auto;
    padding: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .footer__methods {
    display: flex;
  }
  .footer__payment {
    padding-right: 19px;
  }
  .footer__bottom {
    font-size: 12px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .footer__conditions {
    margin-left: 16px;
    margin-right: 0;
    padding: 0;
  }
  .footer__menu .footer__link {
    font-size: 20px;
    line-height: 2;
  }
  .footer__conditions .footer__link {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .footer__item {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}